:root{
    --base: #ecf0f1 ;
    --color1:  #8ad2e6  ;
    --color2:  #173686  ; 
}
.letras{
    background-color: var(--color2);
    color: white;
    text-align: left;
}
.empresa{
    background-color: var(--color2);
    color: white;
    text-align: right;
}

.headr{
    margin: auto auto;
}

.logueo{
    background-color: var(--color2);
    text-align: left;
    color: var(--color1);
    margin: 100px 200px;
    border-radius: 15px;
}
.formu{
    border-radius: 15px;
    color: var(--color1);
    background-color: var(--color2);
    padding: 15px;
}
.imagen{
    background-color: var(--color2);
    margin: 100px -170px;
    border-radius: 15px;
    max-width: 300px;
    text-align: center;

}
.loguillo{
    margin: auto auto;
}